@charset "UTF-8";
/* line 1, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
html {
  display: fixed;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

/* line 10, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

/* line 29, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
h1, strong {
  font-weight: 700;
}

/* line 33, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
h1 {
  font-size: 36px;
}

/* line 37, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

/* line 43, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
p, span, h1, strong, h2, h3 {
  color: #111111;
}

/* line 47, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 20px;
  margin-left: 15px;
  vertical-align: middle;
  width: 77.66px;
  height: 48px;
  font-size: 12px;
  height: 40px;
  font-weight: 700;
  border: none;
  font-size: 16px;
  text-align: center;
}

/* line 92, /Users/maggieyan/Desktop/pintellect/app/assets/stylesheets/api/reset.scss */
button,
input[type="submit"] {
  cursor: pointer;
  border-radius: 34px;
}
